.loginContainer {
    margin: 200px auto;
    max-width: 60%;
}

.loginContainer--title {
    text-align: center;
    color: #578560;
    margin-bottom: 10px;
}

input {
    width: 100%;
    border: none;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 5px;
    padding: 0.5rem 0;
    text-indent: 10px;
    margin-bottom: 1rem;
}

input:focus {
    outline: none;
    border:1px solid rgb(4, 92, 26);
    box-shadow: 0 0 10px #9bf5ae;
}

input::placeholder {
    opacity: 0.4;
}

.loginButton--container {
    text-align: center;
}

.loginButton {
    width: 75px;
    border: none;
    border-radius: 10px;
    padding: 5px;
    background-color: green;
    color: white;
    cursor: pointer;
}